

.container{
    width:450px;
    height: 650px;
    
    background-color: black;

    border-radius: 30px;
    overflow: hidden;

    transition: box-shadow .1s;

    cursor: zoom-in;
    position: relative;
}

img.card {
    width: 100%;
    height: 100%;

    object-fit: cover;

}

.container:hover .card{
    opacity: 0.5;
}
.top_right {
    width: 27%;
    height: 13%;

    background-color: red;
    border-radius: 45px;
     
    position: absolute;
    top: 3%;
    right: 5%;

    right: -1000px;

    cursor: pointer;
}

.top_right:hover{
    background-color: rgb(150, 1, 1);
}
.container:hover .cover .top_right  {
      right: 15px;
      transition: auto;
}

.par {
    color: rgb(248, 245, 245);
    font-size: 30px;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}
.down_navbar {
    width: 100%;
    height: 8%;

    position: absolute;
    bottom: 4%;

    display: flex;
    justify-content: space-evenly;

    bottom: -100px;
}

.container:hover .cover .down_navbar  {
    bottom: 15px;
    transition: 0.1s;
}

.down_navbar1 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;

    border-radius: 25px 25px 25px 25px;

    cursor: pointer;
}
.down_navbar1:hover {
    background-color:white;
}
.par1{
    width: 50%;
    font-size: 30px;
    font-weight: bold;

    padding-left: 20px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.down_navbar2 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 11%;

    border-radius:25px 25px 25px 25px ;

    position: relative;

    
    cursor: pointer;
    overflow: hidden;

}
.down_navbar2:hover {
    background-color: white;
}
.par2{
    width: 80%;
    position: absolute;
    right: 5px;
    
}

.down_navbar3 {
    background-color:rgba(255, 255, 255, 0.8);
    width: 11%;

    border-radius:25px 25px 25px 25px ;

    position: relative;

    
    cursor: pointer;
}
.down_navbar3:hover {
    background-color: white;
}
.par3{
    font-size: 40px;
    font-weight: bold;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

